{margin: 0px; padding : 0px;}
ul{list-style:none}/* list 앞 점 제거*/
a{text-decoration:none;}/*링크 밑줄 제거*/

table.type{
  border-top: 1px solid gold;
/*	width: 700px;	*/
	height:	auto;
	border-collapse:separate;
	border-spacing:1px;
	text-align:left;
	line-hight:1.5;
	margin: auto;
	margin-top:50px;
	font-family: sans-serif;
	font-size:18px;
}
table.type th {
/*  width: 600px; */
  padding: 10px;
  font-weight: bold;
  vertical-align: middle;
  border-bottom: 1px solid white;
  background: gold;
	font-family: sans-serif;
	font-size:18px;
	hight:20;
	text-align:center;
}
table.type td{
/*  width: 700px;	*/
  padding: 10px;
  vertical-align:middle;
  border-bottom: 1px solid gold;
	font-family: sans-serif;
	font-size:18px;
	hight:20;
	text-align:auto;
}
table.type div {
	width: 100px;
  vertical-align: middle;
  margin : auto;
  font-family: sans-serif;
}
input[type=reset],input[type=submit],input[type=button],label[class=button]{
	width:auto;
	font-family: sans-serif;
		color:black;
	background-color:gold;
	font-size:16px;
	hight:30px;
	border-radius:10px;
	border-color:gold;
	curser:pointer;
	border-right-style: outset;
    border-bottom-style: outset;
}
select,input[type=text],input[type=password]{
	width:auto;
	hight:30px;
	border-radius:5px;
	border-color:gold;
	font-family:Sans-Serif;
	font-size:18px;
	hight:20;;
	font-size:16px;
}
textarea{
	font-family: sans-serif;
	width:600px;
	height:300px;
	
}

caption{
	font-size:28px;
	color:gold;
	font-family:sans-serif;
}


div[type=login_bottom]{
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: black;
}

 div[class=login_bottom]{
     text-decoration: none;
    font-size: 18px;
    text-align: center;
    color: black;
    list-style:none;
 }
